*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.social-media-links img {
    width: 100%;
}

@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'concourse_t2', sans-serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 35px;
}
body {
    background: url('images/pearl-street-banner.jpg') no-repeat 0% 0%;
    background-position: top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.upcoming {
    font-size: 25px;
}


.main-heading {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2.2px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.tagline {
    color: white;
    font-size: 23px;
    font-weight: normal;
    text-indent: 50px;
    background-color: rgba(0, 0, 0, .5);
}

h3 {

}

h4 {

}

h5 {

}

h6 {
    
}
header {
    color: black;
    background-color: white;
    text-indent: 50px;
    width: 100%;
}


.social-media-links li {
    list-style: none;
    margin-bottom: 4px;
}

.social-media-links, .limitations {
    background-color: rgba(255, 255, 255, .8);
}

a {
    background-color: #CCCCCC;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #555555;
}
a:hover {
    color: white;
}
a:active {
    color: #DDDDDD;
}

.social-media-links a {
    display: block;
    padding: 10px; 
}

.next-instamarch {
    background-color: rgba(255, 255, 255, .8);
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 3px;
}

.instamarch-heading {
    font-size: 24px;
}

.next-instamarch a {
    display: block;
}

.next-instamarch li {
    list-style: none;
    margin-bottom: .5em; 
}

.footer-link {
    margin-bottom: 40px;
}

.next-event{
   margin:auto;
   width:80%;
   padding:1em;
   text-align:center;
   border: solid 1px black;
   background:#ddd;
   border-radius:4px;
   opacity:.9;
}


@media (min-width: 590px) {
    h2 {
        font-size: 23px;
    }
    header {
        background-color: rgba(255, 255, 255, .7);
    }
    .social-media-links {
        margin-top: 155px;
    }
    .social-media-links li {
        display: block;
        float: left;
        padding: 15px; 
        width: 50%;
    }
    .social-media-links a {
        line-height: 27.1px;
    }
    .next-event{
        margin-bottom:-6em;
    }
}

@media (min-width: 700px) {
    header {
        width: 45%;
    }
    .main-heading {
        font-size: 50px;
    }
    .social-media-links, .limitations {
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 25px;
    }


}
