@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'concourse_t2';
    src: url('type/concourse_t2_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'concourse_t2', sans-serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 35px;
}
body {
    background: url('images/main-background.jpg') no-repeat 0% 0%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
    font-size: 40px;
    font-size: 4vw;
    font-weight: normal;
    line-height: 50px;
}

h2 {
    font-weight: normal;
}
header {
    background-color: black;
    color: white;
    float: left;
    width: 100%;
}
.social-media-links {
    margin-top: 217px;
}

.social-media-links, .limitations {
    background-color: rgba(255, 255, 255, .8);
}


@media (min-width: 590px) {
    .social-media-links li {
        width: 400px;
        display: inline-block;
        padding: 35px; 
    }
    .social-media-links a {
        line-height: 40.1px;
    }
}

@media (min-width: 700px) {

    .social-media-links, .limitations {
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 25px;
    }
}
